/* Hide ovelay during UI development */
/* #start {
  display: none;
} */



*, body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", Courier, monospace;
}


.w-30{
  width: 30%;
}

#end-game {
  display: none;
}
.win {
  background: rgb(73, 184, 73);
  display: block;
}
.lose {
  background: rgb(223, 56, 5);
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container > div:nth-child(odd) {
  /* background-color: antiquewhite; */
}
.grid-container > div {
  /* background-color: coral; */
}

#count-down {  
  position: absolute;
  font-size: 6em;
  z-index: 98;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  display: block;
  color: white;
}
.count-down-fadeout {
  animation: countDownFadeOut 1s forwards;
}
@keyframes countDownFadeOut {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

#hamster {
  position: absolute;
  top: 39%;
  right: 16.5%;
  width: 17%;
}

#power-meter {
  position: absolute;
  top: 2%;  
  right: 1.5%;
  height: 68%;
  width: 9%;

  border: 0.3em solid rgb(22, 22, 22);
  border-radius: 0.5em;
  background-color: white;
}
/* Power fill at time = 0 and time = current or 1 */
:root {
  --pow0: 0%;
  --pow1: 0%;
}
#power-fill {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -0.05em;
  left: -0.05em;
  right: -0.05em;
  height: 0%;

  background-color: rgb(192, 62, 30);
  border-radius: 0.2em;
  transition: height 0.5s;
}

#run-button {
  position: absolute;
  /* bottom: 0.6%; */
  bottom: 1%;
  /* right: 3%; */
  right: 4%;
  width: 45%;
  /* height: 24%; */  

  padding-left: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.2em;
  font-size: 2.5em;
  background-color: rgb(156, 250, 33);

}